// Styles
body {
  // font-family: $roboto-slab;
  font-weight: normal;
}

h1, h2, h3, .name {
  // font-family: $open-sans;
  font-weight: normal;
	padding-left: 10px;
}

.name {
	text-transform: uppercase;
}

.button {
  // font-family: $roboto-slab;
  font-weight: bold;
}